body{
    background-color:white;
    background-image: url('../images/uni\ 2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
}

.uni{
    color: darkred;
    background-color: oldlace;
}

#fav{
    color:red;
    font-weight: bold;
}
#info {
   font-weight: 800;
    color: brown;
}

img {
    border: 8px solid darkred;
    border-radius: 20px;
    display position: left;  
}

.log {
    color: purple;
    font-weight: bold;
}

*{
    padding: 0;
    margin: cover;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

footer{

    text-align: center;
    font-weight: bold;color:brown;
}

div{

    font-weight: bolder;
    display:block;

}