body{
    background-color:white;
    background-image: url('../images/uni\ 2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
}

.language {
    color:green;
    font-size: large;
    font-style:italic;
    font-weight: bold;
}
.uni{
    color: darkred;
    background-color: oldlace;
}

#fav{
    color:red;
    font-weight: bold;
}
#info {
   font-weight: 800;
    color: brown;
}